.banner {
  border-radius: 4px;
  box-shadow: 1px 2px 15px rgba(20, 20, 20, 0.3);
  background-image: url("https://picsum.photos/seed/picsum/1000/500");
  padding: 25px;
  align-content: center;
  text-align: center;
  margin: 20px 0;
  color: white;
  text-shadow: 1px 2px 15px rgba(20, 20, 20, 0.3);
  background-size: cover;
}
