.how-it-works {
  margin: 50px 0;
  text-align: center;
}

.cards  {
  display: flex;
  align-items: stretch;
  align-content: space-between;
  max-width: 100%;
}

.cards img {
  align-items: center;
  opacity: 0.7;
  max-width: 100px;
}

.card-left {
  margin: 0 2% 0 0;
  padding: 25px 7%;
  box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.3);
  border-radius: 4px;
}

.card-middle {
  padding: 25px 7%;
  box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.3);
  border-radius: 4px;
  margin: 0 2%;
}

.card-right {
  margin: 0 0 0 2%;
  padding: 25px 7%;
  box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.3);
  border-radius: 4px;
}

.card-text {
  max-width: 150px;
}
